@import '../../styles/variables.scss';

header {
  width: 100%;
  height: 63px;
  z-index: 1;
  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;

  background-color: #1f1f1f;

  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;

  .title {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    a {
      font-size: $font-size_450;
      font-weight: 700;
      text-decoration: none;
    }

    .pill {
      margin-left: 19px;
      font-size: $font-size_200;
      font-weight: 400;
      background-color: #5b13df;
      color: #fff;
      display: flex;
      flex-direction: row;
      position: relative;
      align-items: center;
      border-radius: 24px;
      padding: 2px 12px;

      img {
        height: 16px;
        width: 16px;
        filter: invert(100%) sepia(14%) saturate(0%) hue-rotate(285deg)
          brightness(106%) contrast(103%);
        margin-right: 3px;
      }
    }
  }

  .header__right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header__right__welcome {
      margin-right: 16px;
      font-size: $font-size_450;
      color: #fff;
    }

    button {
      background-color: #161616;
    }
  }

  .header__right--mobile {
    display: none;

    button {
      background-color: transparent !important;
      border: none !important;
      outline: none !important;
      padding: 0px !important;
      margin: 0px !important;

      img {
        height: 26px;
        width: 26px;
        filter: invert(100%) sepia(14%) saturate(0%) hue-rotate(285deg)
          brightness(106%) contrast(103%);
      }
    }
  }

  @media screen and (max-width: 700px) {
    height: 48px;

    .title {
      font-size: $font-size_400;
      a {
        font-size: $font-size_400;
      }
      .pill {
        display: none;
      }
    }

    .header__right {
      display: none;
    }

    .header__right--mobile {
      display: flex;
    }
  }
}

.menu {
  position: fixed;
  top: 48px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #242424;
  z-index: 10;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      width: calc(100% - 20px);
      text-align: left;
      padding-left: 16px;
      height: 56px;
      border-left: 4px solid transparent;

      &.active {
        background-color: #191919;
        border-left: 4px solid #5b13df;
      }

      &:hover {
        background-color: #191919;
      }

      a {
        height: 100%;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: $font-size_300;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}
