.router__content {
  display: flex;
  flex-direction: row;
  width: 100%;

  .router__content__routes {
    display: flex;
    margin-left: 229px;
    flex-direction: column;
    width: 100%;
    margin-top: 63px;

    @media screen and (max-width: 700px) {
      margin-left: 0px;
      margin-top: 48px;
    }
  }
}
