@import '../../styles/variables.scss';

.support {
  padding: 64px;
  width: 100%;
  max-width: 1000px;

  .support__title {
    font-size: $font-size_700;
    font-weight: 600;
    margin-bottom: 32px;
  }

  .support__card {
    border-radius: 18px;
    border: 1px solid #4d4d4d;
    padding: 24px 32px;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.shadow {
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
      border: none;
    }

    .support__card__title {
      font-size: $font-size_400;
      font-weight: 600;
      margin-bottom: 8px;
    }

    .support__card__subtitle {
      font-size: $font-size_300;
    }

    .support__card__contact {
      display: flex;
      text-decoration: none;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 11px 16px 11px 16px;
      font-size: $font-size_300;
      font-weight: 500;
      font-family: inherit;
      background-color: #5b13df;
      cursor: pointer;
      transition: border-color 0.25s;
      width: fit-content;
      margin: auto;
      margin-top: 24px;
    }

    .support__card__link {
      display: flex;
      text-decoration: none;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 11px 16px 11px 16px;
      font-size: $font-size_300;
      font-weight: 500;
      font-family: inherit;
      background-color: #393939;
      cursor: pointer;
      transition: border-color 0.25s;
      width: fit-content;
      position: absolute;
      right: 32px;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
    }
  }

  @media screen and (max-width: 700px) {
    padding: 20px;

    .support__title {
      font-size: $font-size_600;
    }

    .support__card {
      .support__card__link {
        position: relative;
        right: 0px;
        margin-top: 16px;
        width: 100%;
      }
    }
  }
}
