.pill {
    margin-left: 19px;
    font-size: 13px;
    font-weight: 400;
    background-color: #5b13df;
    color: #fff;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    border-radius: 24px;
    padding: 2px 12px;
    width: fit-content;
    height: fit-content;

    img {
      height: 16px;
      width: 16px;
      filter: invert(100%) sepia(14%) saturate(0%) hue-rotate(285deg)
        brightness(106%) contrast(103%);
      margin-right: 3px;
    }
  }