@import '../../styles/variables.scss';

.welcome {
  position: relative;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .pill {
    display: none;
  }

  .welcome__title {
    margin-top: 96px;
    font-size: $font-size_700;
    font-weight: 700;
    text-align: center;
  }

  .welcome__sign-in {
    position: relative;
    margin: auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .welcome__image {
    max-width: min(682px, 90%);
    min-width: 280px;
    height: fit-content;
    object-fit: contain;
    position: relative;
    display: flex;
    margin: auto;
  }

  .welcome__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 52px;

    .welcome__card {
      background-color: #242424;
      -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);

      display: flex;
      flex-direction: column;
      align-items: center;

      padding: 32px;
      border-radius: 18px;
      margin: 0 12px;
      margin-bottom: 24px;
      width: 264px;

      .welcome__card__title {
        font-size: $font-size_400;
        color: #fff;
        font-weight: 400;
      }

      button {
        margin: 0px;
        margin-top: 24px;
        width: 100%;
      }

      a {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 11px 16px 11px 16px;
        font-size: $font-size_300;
        font-weight: 500;
        font-family: inherit;
        background-color: #393939;
        cursor: pointer;
        transition: border-color 0.25s;
        width: fit-content;
        color: #fff;
        margin-top: 24px;
        width: calc(100% - 32px);
        text-align: center;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (max-width: 700px) {
    .pill {
      display: flex;
      margin: auto;
      margin-top: 20px;
    }
    .welcome__title {
      margin-top: 32px;
      font-size: $font-size_600;
    }
  }
}
