@import '../../styles/variables.scss';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInCopy {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rp-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  .rp-toggle__icon {
    position: absolute;
    left: 24px;
    z-index: 2;
    pointer-events: none;
    display: none;

    .rp-font-icon {
      width: 16px;
      height: 16px;
    }

    &.rp-toggle__icon--checked {
      left: 8px;
      display: flex;
      animation: fadeIn 0.5s ease-in;
      .rp-font-icon {
        color: #fff;
      }
    }

    &.rp-toggle__icon--not-checked {
      display: flex;
      animation: fadeInCopy 0.4s ease-in;
      .rp-font-icon {
        color: #525252;
      }
    }
  }

  .rp-toggle__input {
    position: relative;
    background: #8d8d8d;
    width: 48px;
    height: 24px;
    -webkit-appearance: initial;
    border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
    cursor: pointer;
    border-radius: 12px;

    &:checked {
      background: #24a148;
    }

    &:after {
      position: absolute;
      top: 3px;
      display: block;
      width: 18px;
      height: 18px;
      background: #fff;
      box-sizing: border-box;
      text-align: center;
      transition: all 0.3s ease-in 0s;
      border-radius: 50%;
    }

    &:after {
      left: 3px;
      content: '';
    }

    &:checked:after {
      left: 27px;
      content: '';
    }
  }

  .rp-toggle__sublabel {
    margin: 0px;
    margin-left: 8px;
    color: #161616;
    font-size: $font-size-300;
  }

  .rp-toggle__label {
    margin: 0px;
    margin-bottom: 8px;
    font-size: $font-size-200;
    color: #525252;
  }

  .rp-toggle__disabled {
    pointer-events: none !important;
    input {
      background-color: rgb(244, 244, 244) !important;

      &:after {
        background-color: rgb(198, 198, 198);
      }
    }
  }
}
