$font-size_50: var(--font-size_50); //10px;
$font-size_100: var(--font-size_100); //10px;
$font-size_200: var(--font-size_200); //12px;
$font-size_300: var(--font-size_300); //14px;
$font-size_400: var(--font-size_400); //16px;
$font-size_450: var(--font-size_450); //18px;
$font-size_500: var(--font-size_500); //20px;
$font-size_600: var(--font-size_600); //24px;
$font-size_700: var(--font-size_700); //32px;
