@import '../../styles/variables.scss';

.blog {
  width: 100%;
  padding: 64px;
  max-width: 1000px;
  position: relative;

  .blog__title {
    font-size: $font-size_700;
    font-weight: 700;
    margin-bottom: 48px;
  }

  .blog__subtitle {
    font-size: $font-size_500;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .blog__button {
    position: absolute;
    top: 64px;
    right: 64px;
  }

  ol {
    padding-inline-start: 20px;
    li {
      margin-bottom: 8px;
    }
  }

  @media screen and (max-width: 700px) {
    padding: 20px;

    .blog__title {
      font-size: $font-size_600;
    }

    .blog__button {
      top: 20px;
      right: 20px;
    }
  }
}
